<div class="random-beer">
        <%- include('./partials/beers.ejs') %>
        <div class="description"><%- beer[0].food_pairing %><br></div>
        <div class="description"><%- beer[0].brewers_tips %><br><br></div>
</div>